/** @format */

@import "./base.css";

#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
} */

header {
  height: 3.2rem;
}

.wrapper {
  min-height: 85vh;  
  margin-bottom: 3.2rem 0 -0.5rem 0 ; 
}

footer {
  height: 0.5rem;
  text-align: right;
  padding: 8px 0;
}